@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
}
form.search {
  margin: 50px 0 15px 0;
  text-align: center;
}
form.search input.text {
  height: 38px;
  padding: 0 6em 0 10px;
  font-size: inherit;
  color: #333333;
  line-height: 38px;
  vertical-align: middle;
  border-radius: 2.75px 0 0 2.75px;
}
form.search input.submit {
  height: 38px;
  padding: 0 7px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: .2em;
  word-wrap: normal;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  line-height: inherit;
  text-overflow: ellipsis;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0 2.75px 2.75px 0;
  background: #FF9000;
}


.yahoo {
  padding: 0 5px;
  font-weight: bold;
}
.rakuten {
  padding: 0 5px;
  font-weight: bold;
}
.price {
  padding: 0 6px;
  font-weight: bold;
  font-size: 1.2em;
  color: #FF0000;
}
.Product h1 {
  margin: 30px 0 50px 0;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  vertical-align: bottom;
}
.Product h1 img {
  width: auto;
  height: 50px;
  margin: 0 10px;
  vertical-align: middle;
}
.Product h3, h4 {
  margin: 30px 0;
  font-weight: normal;
  text-align: center;
}
.Product h3 span:first-child, .Product h4 span:first-child {
  font-size: 1.2em;
}
.Product h3:after {
  margin-left: 5px;
  font-size: 0.7em;
  content: "（ポイント換算比）";
}
.Product h4:after {
  margin-left: 3px;
  font-size: 0.7em;
  content: "（販売価格比）";
}
.Product ul {
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Product ul li {
  width: 500px;
  padding: 10px;
  border: 1px solid #DADADA;
}
.Product ul li h2 {
  margin: 15px 0;
}
.Product ul li:first-child {
  background-color: #FFEFEF;
}
.Product ul li:first-child h2:after {
  margin-left: 1em;
  padding: 0.2em 0.2em 0.2em 0.4em;
  border-radius: 10px;
  color: #FFEFEF;
  background-color: #FF6F6F;
  content: "お得！"
}
.Product li img {
  width: 250px;
  height: 250px;
}
.Product a {
  color: #233F97;
}
.Product a:hover {
  opacity: 0.8;
}
.Product__name {
  height: 3em;
  margin: 15px 0 10px 0;
}
.Product__price, .Product__point {
  font-size: 1.2em;
  font-weight: 700;
}
.Product__price:before {
  content: "値段："
}
.Product__price:after {
  content: "円"
}
.Product__point:before {
  content: "ポイント："
}
.Product__message {
  margin-top: 15px;
  padding: 3px 7px;
  display: inline-block;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #9999FF;
}

.Content {
  margin: 0 auto;
  padding: 0 0px;
  text-align: center;
}
.Content h2 {
  margin-bottom: 10px;
  padding: 20px 0;
  background-color: rgba(59, 89, 152, 0.3);
}
.Content h3 {
  margin: 15px 0;
}
.JAN {
  width:: 100%;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.JAN__item {
  width: 180px;
  margin: 1px;
  border: 1px solid #DADADA;
}
.JAN__item label {
  cursor: pointer;
  cursor: hand;
}
.JAN__item input {
  display: none;
}
.JAN__item div {
  width: 178px;
  height: 178px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.JAN__item p {
  margin-top: 10px;
  padding: 10px;
}
.JAN__item:focus, .JAN__item:hover {
  border: 1px solid #00F;
  background-color: rgba(00, 100, 255, 0.1);
}
  .top {
    margin-top: 150px;
    padding: 10px;
  }
  .top h1 {
    margin: 30px 0 50px 0;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    vertical-align: bottom;
  }
  .top h1 img {
    width: auto;
    height: 50px;
    margin: 0 10px;
    vertical-align: middle;
  }
  @media only screen and (max-width: 480px) {
    * {
      width: 100%;
    }
    form.search input.text {
        width: 100% !important;
    }
  }
