<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>お得な方で買ってみよう！</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  {% block body %}

  {% with messages = get_flashed_messages() %}
    {%- if messages %}
      <ul class=flashes>
      {%- for message in messages %}
        <h3>{{ messages[-1] }}</h3>
      {%- endfor %}
      </ul>
    {%- endif %}
  {% endwith %}

  <div class="Product">
    <h1>
      <img src="https://s.yimg.jp/c/logo/f/2.0/shopping_r_34_2x.png" alt="">と<img src="https://s.yimg.jp/images/serp/ws/wsbc/lg_01c_1.png" alt="">で比較した結果
    </h1>

    {%- for judge in judges %}
      {%- if loop.index == 3 %}
        <h3 class="message">{{ judge }}</h3>
      {%- endif %}
    {%- endfor %}

    {%- if judges|length == 2 %}
      <ul>
        {%- for judge in judges %}
          <li>{{ judge }}</li>
        {%- endfor %}
      </ul>
    {%- else %}

      <ul>
        {%- for judge in judges %}
          {%- if loop.index == 1 or loop.index == 2 %}
            <li>
              <h2>{{ judge.platform }}</h2>
              <div>
                <a href="{{ judge.url }}">
                  <img src="{{ judge.image }}" alt="">
                </a>
                <div>
                  <p class="Product__name"><a href="{{ judge.url }}">{{ judge.name }}</a></p>
                  <p class="Product__price">{{ judge.price }}</p>
                  <p class="Product__point">{{ judge.point }}</p>
                  <p class="Product__message">{{ judge.message }}</p>
                </div>
              </div>
            </li>
          {%- endif %}
        {%- endfor %}
      </ul>

      {%- for judge in judges %}
        {%- if loop.index == 6 %}
          <h4 class="message">{{ judge }}</h4>
        {%- endif %}
      {%- endfor %}

    {%- endif %}
  </div>

  <form action="{{ url_for('get_jan_code') }}" method="post" class="search">
    {% with messages = get_flashed_messages() %}
      {%- if messages %}
        <input type="text" size="50" name="keyword" placeholder="何をお探しですか？" value="{{ messages[-1] }}" class="text">
      {%- else %}
        <input type="text" size="50" name="keyword" placeholder="何をお探しですか？" class="text">
      {%- endif %}
    {% endwith %}
    <input type="submit" value="検索する" class="submit">
  </form>
  </div>

  {% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $('.message').each(function(){
      var inner_txt = $(this).text();
      $(this).html(inner_txt.replace(/&lt;span/, '<span'));
    });
  });
  $(document).ready(function(){
    $('.Product__price').each(function(){
      var inner_txt = $(this).text();
      var separated = '';
      var nums = inner_txt.split('');
      var len = nums.length;
      for(var i = 0; i < len; i++){
          separated = nums[(len-1)-i] + separated;
          if(i % 3 === 2){
              separated = ',' + separated;
          }
      }
      $(this).html(separated);
    });
  });
  </script>

</body>
</html>
